.Main {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: whitesmoke;

  .headerWrap {
    display: flex;
    padding-left: 20%;
    padding-top: 60px;
  }

  .chartWrap {

  }

  .menuWrap {

  }
}

